.books{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto; 
} 

.books div{
    margin: 1%;
    max-width: 100%;
}

.books div img{
    width: 200px;
    height: 300px;
    border-radius: 10px;
}

.tamaño{
    font-size: 18px;
}

button{
    width: 200px;
}