.slideImagediv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.car {
  align-items: center;
  justify-content: center;
  height: 42vh;
}
.carousel2 {
  margin-top: 25px;
}
h6 {
  color: #780000;
}

.slideImagediv {
  height: 30vh;
}

.slideImagediv img {
  width: auto;
  height: 100%;
}
