.slideImagediv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

.carousel{
  margin-top: 100px;
}
.carousel2{
  margin-top: 25px;
}
  h8 {
    color: #780000;
  }
  h9 {
         color: black;
       }
.slideImagediv{
  width: 100%; 
  height: 30vh;
}

img{
  width: auto;
  height: 100%;
}


  