.cart {
  height: 82vh;
  max-height: 82vh;
  width: 80vw;
  padding: 0em 0vh 0vh 0vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart::-webkit-scrollbar {
  display: none;
}

.table {
  border: 1px solid #780000;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #780000;
  text-align: left;
  padding: 8px;
}

th {
  border: 1px solid #780000;
  text-align: left;
  padding: 8px;
}

.checkout {
  display: flex;
  justify-content: right;
  align-content: right;
  align-items: right;
  text-align: right;
  /* margin-left: auto; */
  background-color: white;
  border-color: #780000;
  color: #780000;
  border-radius: 4px;
}

.sub-link {
  color: #780000;
  text-decoration: none;
  text-decoration-line: none;
}

.sub-link:link {
  color: #780000;
  text-decoration: none;
}

.sub-link:visited {
  color: #780000;
  text-decoration: none;
}

.sub-link:hover {
  color: #780000;
  text-decoration: underline;
}

.sub-link:active {
  color: #780000;
  text-decoration: underline;
}

.button-cart {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  border-radius: 4px;
  background-color: white;
  color: #780000;
  border-color: #780000;
}

.ratingButton {
  width: 4vw;
  margin: 1em;
  border: none;
  outline: none;
  border-radius: 1em;
  transition: color 0.4s, background 0.4s;
}

.ratingButton:hover {
  color: white;
  background: #780000;
}

.cartCheckoutButton {
  text-decoration: none;
}

.cartCheckoutButton:hover {
  text-decoration: underline;
  text-decoration-color: #780000;
}

.addAndRemoveButtonsDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ratingMainDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.previousOrdersDiv {
  padding: 1em 0em 1em 0em;
}

.checkoutAndOrdersDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
