.cart {
  height: 80%;
  width: 80%;
  margin-top: 150px;
}

.table {
  /* display: flex; */
  border: 1px solid #780000;
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

td {
  border: 1px solid #780000;
  text-align: left;
  padding: 8px;
}

th {
  border: 1px solid #780000;
  text-align: left;
  padding: 8px;
}

.checkout {
  display: flex;
  justify-content: right;
  align-content: right;
  align-items: right;
  text-align: right;
  margin-left: auto;
  background-color: white;
  border-color: #780000;
  color: #780000;
}

.sub-link {
  color: #780000;
  text-decoration: none;
  text-decoration-line: none;
}

.sub-link:link {
  color: #780000;
  text-decoration: none;
}

.sub-link:visited {
  color: #780000;
  text-decoration: none;
}

.sub-link:hover {
  color: #780000;
  text-decoration: underline;
}

.sub-link:active {
  color: #780000;
  text-decoration: underline;
}


