.categories:link {
  color: #780000;
  text-decoration: none;
}

.drop-color {
  width: 160px;
}

.categories {
  color: #780000;
  width: 100%;
}

.categories:hover {
  color: #780000;
}

/* .categories:focus {
    text-decoration: none;
} */

.sub-link:active {
  color: #780000;
  text-decoration: none;
}

.categoriesButton {
  width: 200px;
  border: none;
  outline: none;
  border-radius: 1em;
  transition: color 0.4s, background 0.4s;
}

.categoriesButton:hover {
  color: white;
  background: #780000;
}
