.contact {
  display: flex;
  flex-direction: column;
  height: 58.2vh;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  justify-content: center;
  color: #780000 !important;
  height: 62vh;
}

h1 {
  text-align: center;
  text-decoration: underline 1px #780000;
  color: #780000;
}

h4 {
  text-align: left;
  color: #780000;
}

hr {
  height: 2px;
  background-color: #780000;
  border-color: #780000;
}
