.footer {
  background-color: #780000;
  color: rgb(223, 192, 192);
  text-align: center;
  column-count: 4;
  width: 100%;
  display: flex;
  /* height: 20vh; */
  height: 12em;
  font-size: small;
  bottom: 0;
}
