.login {
  display: flex;
  flex-direction: column;
  height: 62.2vh;
  background-color: white;
  color: black;
  text-align: center;
  /* margin-top: 150px; */
  align-items: center;
  justify-content: center;
}

h8 {
  color: #780000;
}
h3 {
  color: #780000;
}


.botonLogin {
  background-color: #780000;
  color: white;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2em;
  transition: color 1s, background 1s;
  border: none;
}

/* .botonLogin:disabled {
  color: white;
  background: grey;
  transition: color 1s, background 1s;
} */

.loginInputStyle {
  height: 2em;
  width: 12em;
  border-radius: 1em;
  border: 1px solid;
  padding: 0px 0px 0px 10px;
}

.loginInputStyle:focus {
  outline: none;
}

.loginButtonDiv {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.singleButtonLoginDiv {
  padding: 1em 0em 0em 0em;
}

.botonLoginFacebook {
  background-color: #4267b2;
  color: white;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2em;
  transition: color 1s, background 1s;
  border: none;
}
