.navBar {
  background-color: white;
  z-index: 900;
}

.logo {
  width: 100px;
  height: auto;
}

.search-bar {
  width: 500px;
  border: 1px solid #780000;
  border-radius: 4px;
}

.row {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  color: #780000;
  top: 0%;
  /* padding-top: 15px; */
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  width: 100%; /* Full width */
  z-index: 900;
}

.sub-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
  text-align: center;
  top: 0%;
  margin-top: 70px;
  color: #780000;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  width: 100%; /* Full width */
  z-index: 899;
}

.sub-link {
  color: #780000;
  text-decoration: none;
  text-decoration-line: none;
}

.sub-link:link {
  color: #780000;
  text-decoration: none;
}

.sub-link:visited {
  color: #780000;
  text-decoration: none;
}

.sub-link:hover {
  color: #780000;
  text-decoration: underline;
}

.sub-link:active {
  color: #780000;
  text-decoration: underline;
}

/* Carrito de compras NO TOCAR */
.icon-cart {
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
  /* margin-left: 25px;
    margin-bottom: 25px; */
}

.icon-cart .cart-line-1 {
  width: 15%;
  height: 7%;
  position: absolute;
  left: 8%;
  top: 25%;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  background-color: #780000;
  border-bottom-left-radius: 35%;
}

.icon-cart .cart-line-2 {
  width: 35%;
  height: 7%;
  position: absolute;
  left: 6%;
  top: 40%;
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg);
  background-color: #780000;
}

.icon-cart .cart-line-2:before {
  content: "";
  width: 120%;
  height: 100%;
  position: absolute;
  left: 45%;
  top: -280%;
  -webkit-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  transform: rotate(-80deg);
  background-color: inherit;
}

.icon-cart .cart-line-2:after {
  content: "";
  width: 70%;
  height: 100%;
  position: absolute;
  left: 59%;
  top: -670%;
  background-color: inherit;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 25%;
}

.icon-cart .cart-line-3 {
  width: 30%;
  height: 7%;
  position: absolute;
  left: 33%;
  top: 45%;
  background-color: #780000;
}

.icon-cart .cart-line-3:after {
  content: "";
  width: 124%;
  height: 100%;
  position: absolute;
  top: -150%;
  left: -5%;
  background-color: inherit;
}

.icon-cart .cart-wheel {
  width: 12%;
  height: 12%;
  background-color: #780000;
  border-radius: 100%;
  position: absolute;
  left: 28%;
  bottom: 20%;
}

.icon-cart .cart-wheel:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 100%;
  position: absolute;
  left: 200%;
  bottom: 0;
}
/* 
  a {
    position: absolute;
    bottom: 12px;
    right: 20px;
  } */

/* Termino el carrito */

/* User Icon */
/* .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  } */

.user {
  width: 35px;
  height: 35px;
  border: 4px solid #780000;
  border-radius: 50%;
  background-color: #780000;
  position: relative;
  overflow: hidden;
}

.user::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
}

.user::after {
  content: "";
  display: block;
  width: 40px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: -40px;
  transform: translateX(-50%);
}

/* Dropdown Button */
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  /* position: relative;
  display: inline-block;*/
  display: list-item;
}

/* .dropdown:hover {
  background-color: black;
} */
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

/* Links inside the dropdown */
.dropdown-content {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  /* display: block; */
}

/* Change color of dropdown links on hover */
.dropdown-content:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.userCartRegisterDiv{
  width:30vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbarMainDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
