.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  text-align: center;
  margin-top: 100px;
  height: 85vh;
  margin: 0;
}

h3 {
  color: #780000;
}

h4 {
  color: #780000;
}

.botonRegister {
  border: 1px solid #780000; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #780000; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
}

.registerInputStyle {
  height: 2em;
  width: 12em;
  border-radius: 1em;
  border: 1px solid;
  padding: 0px 0px 0px 10px;
}

.registerInputStyle:focus {
  outline: none;
}

.registerButtonDiv {
  padding: 1em 0em 0em 0em;
}

.registerButton {
  background-color: #780000;
  color: white;
  border: 1em;
  border: 1px solid #780000;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2em;
  transition: color 1s, background 1s;
  border: none;
}

.termsAndPrivacyDiv {
  padding: 1em 0em 0em 0em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.botonRegisterFacebook {
  background-color: #4267b2 !important;
  color: white !important;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2em !important;
  transition: color 1s, background 1s;
  border: none;
}

.fbButtonRegisterDiv {
  padding: 1em 0em 0em 0em;
}
