/* .singleuser {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  margin: 150px auto;
}

h3 {
  width: 100%;
  text-align: center;
}

.dataimg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img {
  height: 60vh;
}

p {
  text-align: justify;
}

.boton {
  margin: 0 auto;
} */
