.singlebook {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  margin: 150px auto;
}
h3 {
  width: 100%;
  text-align: center;
}
.dataimg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img {
  height: 60vh;
}

p {
  text-align: justify;
}

.boton {
  margin: 0 auto;
}
.addToCartEditButton {
  display: flex;
  flex-direction: row;
}

.editBookDiv {
  display: flex;
  flex-direction: column;
}
.formAndImgDiv {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.descriptionAndSaveButtonDiv {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 200%;
}
.inputImgDiv{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.divEditBookGral{
    padding: 60px 0px;
}

.descriptionDiv{
    text-align: start;
    width: 50vw;
    height: 20vh;
    
}