.singleuser {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 62vh;
  margin: auto;
  /* align-items: center; */
  justify-content: center;
}

h3 {
  width: 100%;
  text-align: center;
}

/* .boton {
  margin: 0 auto;
  border-radius: 2em;
} */

.buttonAndLinkDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boton {
  width: 200px;
  border: none;
  outline: none;
  border-radius: 1em;
  transition: color 0.4s, background 0.4s;
}

.boton:hover {
  color: white;
  background: #780000;
}