.usersMainDiv {
  height: 82vh;
  width: 95vw;
  /* padding: 250px 0px 0px 0px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.usersButtonDiv {
  padding: 0.5em 0em 0em 0em;
}

.usersButton {
  width: 200px;
  border: none;
  outline: none;
  border-radius: 1em;
  transition: color 0.4s, background 0.4s;
}

.usersButton:hover {
  color: white;
  background: #780000;
}

.usersLinkProperties {
  text-decoration: none;
  color: black;
}

.usersLinkProperties:hover {
  /* text-decoration: none; */
  color: #780000;
}
